body {
    font-family: Arial, sans-serif;
    background-image: url('PUPBG.jpg'); /* Make sure this path is correct */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0; /* Reset default padding */
}

.download-container {
    text-align: center;
    /* Add any specific styling you want for the download button container */
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}
